<div id="menu" class="menu">
    <div class="div-img-2">
        <button id="closeMenu" class="burger-menu-button">&times;</button>
    </div>
       {% if user.is_authenticated %}
        <h1 class="welcome-user-h">
            Hello, {{ user.username }}! Happy to see you.
        </h1>
        <form method="post" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Logout
        </button>
    </form>
    {% else %}
    <h1 class="welcome-user-h">You can login if you already have an account or create a new one</h1>
    <div class="auth-buttons">
        <a href="{% url 'login' %}" class="btn auth-btn">Login</a>
        <a href="{% url 'register' %}" class="btn auth-btn btn-outline">Register</a>
    </div>
    {% endif %}
    <ul class="menu-ul">
        <li><a href="#home" class="link-nav">Home</a></li>
        <li><a href="#recommended" class="link-nav">Recommended</a></li>
        <li><a href="#products" class="link-nav">Review</a></li>
        <li><a href="#benefits" class="link-nav">Contact Us</a></li>
    </ul>
</div>