<div id="menu" class="menu">
    <div class="div-img-2">
        <button id="closeMenu" class="burger-menu-button">&times;</button>
    </div>
    <div class="auth-buttons">
        <a href="{% url 'login' %}" class="btn auth-btn link-nav">Login |</a>
        <a href="{% url 'register' %}" class="btn auth-btn btn-outline link-nav">Register</a>
    </div>
    <ul class="menu-ul">
        <li><a href="#home" class="link-nav">Home</a></li>
        <li><a href="#recommended" class="link-nav">Recommended</a></li>
        <li><a href="#products" class="link-nav">Review</a></li>
        <li><a href="#benefits" class="link-nav">Contact Us</a></li>
    </ul>
</div>