.burger-icon-320 {
  fill: white;
}

.header-section {
  width: 100%;
  height: 500px;
  padding: 32px 16px;
  box-sizing: border-box;
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
}
.burger-menu {
  width: 24px;
  height: 24px;
}
.burger-menu-button {
  font-size: 24px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;

}
.sound-svg {
  width: 32px;
  height: 38px;
}
.slogan {
  color: #292929;

  font-family: Inter;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%; /* 32px */
  letter-spacing: -0.03125em;
}
.bose-logo {
  width: 127px;
  height: 16px;
}
.div-img {
  display: flex;
  justify-content: space-between;
}
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  .div-img-2 {
    display: flex;
    justify-content: right;
    margin-bottom: 64px;
    margin-top: 10px;

  }
  .link-nav {
    color: #292929;

    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }
  .menu-ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
  }


  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 16px;
    background-color: #e8eff9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1000;
}

.menu.is-open {
    transform: translateX(0);
}
