.burger-icon-320 {
  fill: white;
}

.header-section {
  width: 100%;
  height: 500px;
  padding: 32px 16px;
  box-sizing: border-box;
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
}




/* Auth buttons and etc. */

.welcome-user-h{
  display: flex;
  justify-content: center;
  font-family: fantasy;
  margin: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 0 auto;
}

.auth-btn {
  padding: 20px 40px;
  background: #292929;
  color:#e8eff9;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  width: 50px;
  text-align: center;
  font-family: fantasy;
  transition: all 0.3s ease;
}
.auth-btn:hover{
  background:#e8eff9;;
  color:#292929;
  box-shadow: 0 0 10px 2px #292929;
}

.btn-outline {
  background: transparent;
  border: 1px solid #292929;
  color: #000;
  transition: all 0.3s ease;
  font-family: fantasy;
}
.btn-outline:hover{
  background-color:#292929;
  color:#e8eff9;
  box-shadow: 0 0 10px 2px #292929;
}

.username {
  font-weight: 600;
}


.burger-menu {
  width: 24px;
  height: 24px;
}
.burger-menu-button {
  font-size: 24px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;

}
.sound-svg {
  width: 32px;
  height: 38px;
}
.slogan {
  color: #292929;

  font-family: Inter;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%; /* 32px */
  letter-spacing: -0.03125em;
}
.bose-logo {
  width: 127px;
  height: 16px;
}
.div-img {
  display: flex;
  justify-content: space-between;
}
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  .div-img-2 {
    display: flex;
    justify-content: right;
    margin-bottom: 64px;
    margin-top: 10px;

  }
  .link-nav {
    color: #292929;

    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }
  .menu-ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    align-items: center;
  }


  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 16px;
    background-color: #e8eff9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1000;
}

.menu.is-open {
    transform: translateX(0);
}


/* PRODUCTS CARD */
.product-li {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.product-li:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.img-product {
  width: 100%;
}
.h3-rec {
  color: #292929;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 140%;
  margin: 0;
  margin-top: 32px;
}
.p1-rec {
  color: #292929;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  margin-top: 8px;
}
.p2-rec {
    color: #292929;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
    margin-top: 12px;
  }

.h3-rec {
  color: #292929;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.14em;
  margin: 0;
  margin-top: 32px;


}


.rec-section {
    padding: 120px;
    flex-direction: column;
}
.rec-h2 {
  color: #292929;
  text-align: center;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1em; /* 100% */
  letter-spacing: -0.03125em;
  margin: 0;
  margin-bottom: 64px;
}
.product-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0;
    flex-direction: row;
}


/* FORM */
.form-section {
  background-color:#292929;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.form-h2 {
  text-align: center;
  color:#e8eff9;
  font-style: italic;
  font-weight:500;
  font-family: fantasy;
}

.rev-form {
  color: #e8eff9;
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  font-family:cursive;
}

.rev-btn{
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e8eff9;
  color: #292929;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
  font-family:fantasy;
}

.rev-btn:hover{
  background-color: darkgray;
  box-shadow: 0 0 10px 2px #e8eff9;
}
textarea {
    resize: none;
}

.rev-form input,
.rev-form textarea,
.rev-form select {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e8eff9;
  background-color: #292929;
  padding: 5px;
  color: #e8eff9;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.rev-form input:hover,
.rev-form textarea:hover,
.rev-form select:hover {
  border-color: #e8eff9;
  background-color: #3a3a3a;
  box-shadow: 0 0 10px 2px #e8eff9;
}

.rev-form input:focus,
.rev-form textarea:focus,
.rev-form select:focus {
  border-color: #e8eff9;
  background-color: #3a3a3a;
  box-shadow: 0 0 10px 2px #e8eff9;
  outline: none;
}
/* Register section */
.auth-header-container{
  display: flex;
  justify-content: center;
}
.auth-header-container h1{
  font-family:cursive;
}

.input-field {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1em;
}

.form-register-div{
  width: 400px;
  margin: 0 auto;
}

.register-form{
  font-family: fantasy;
}

.reg-btn{
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #292929;
  color: #e8eff9;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
  font-family:fantasy;
  display: flex;
  align-items: center;
}

.reg-btn:hover{
  background-color: darkgray;
  box-shadow: 0 0 10px 2px #e8eff9;
}

ul.errorlist {
    color: red;     
    font-size: 0.9em;
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none; 
}

/* если есть общие ошибки формы */
ul.errorlist.nonfield {
    font-weight: bold;
    margin-bottom: 10px;
}

.logout-form{
  display: flex;
  margin:0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.logout-btn{
  padding: 20px 40px;
  background-color: #e8eff9;
  color:#292929;
  border: 1px solid #292929;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-family:fantasy;
  font-size: 14px;
}

.logout-btn:hover{
  background-color:#292929;
  color:#e8eff9;
  box-shadow: 0 0 10px 2px #292929;
}

